@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

    html {
      scroll-behavior: smooth;
    }

    .nav-link {
      position: relative;
      padding-bottom: 2px;
      transition: color 0.3s ease;
    }

    .nav-link::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #0E5800; 
      border-radius: 9999px;
      transition: width 0.3s ease;
    }


    .nav-link.active::after {
      width: 50px;       
    }

    .no-scrollbar::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;
    }

  @keyframes marquee-slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* kelas custom untuk track */
  .marquee {
    width: max-content;
    animation: marquee-slide 20s linear infinite;
  }



@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;


  --color-primary: #73A640;
  --color-primary-light: #B6D985;
  --color-primary-dark: #0E5800;
  
  --color-secondary: #93C001;

  --color-hitam: #1A1A1A;
  --color-abu: #333333;

}

@layer base {
  body {
    font-family: var(--font-poppins);
  }
}
